################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaLotes/FileContentIndex/merges/1d90bd11-e890-4e35-96d1-ba171677d7b1.vsidx
/.vs/SistemaLotes/FileContentIndex/181750b0-4c79-426f-b0ac-a3cf38cfdd2a.vsidx
/.vs/SistemaLotes/FileContentIndex/3dc5fa58-e402-4be2-88c7-dad07c9c77b0.vsidx
/.vs/SistemaLotes/FileContentIndex/3065db84-aa69-46a8-8f36-62431a4f8127.vsidx
/.vs/SistemaLotes/FileContentIndex/427311e5-39e6-4e5b-ab18-8e358cb296b4.vsidx
/.vs/SistemaLotes/FileContentIndex/4fc66737-fd83-46aa-ad9e-ff28cf0c29b3.vsidx
/.vs/SistemaLotes/FileContentIndex/b1afc7f6-789a-41bc-89ef-2e8b47edbb8c.vsidx
